<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837101208990-6ekja01vk96m7s9o22pm8c9pubg79fqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837101208990-6ekja01vk96m7s9o22pm8c9pubg79fqn</string>
	<key>API_KEY</key>
	<string>AIzaSyCJH1GdN8lOkFOtCa0mreCSGdZyx4D7xRg</string>
	<key>GCM_SENDER_ID</key>
	<string>837101208990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shap</string>
	<key>PROJECT_ID</key>
	<string>shap-c90e5</string>
	<key>STORAGE_BUCKET</key>
	<string>shap-c90e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837101208990:ios:fda3fa6e3f658dac94428f</string>
</dict>
</plist>